@model Mobile_Repair_History_System_MRHS.Models.ResetPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="~/Contant/Account/css/style.css" rel="stylesheet" />
    <link rel="icon" href="~/Contant/Home/assets/logo2.png" type="image/icon type">
</head>
<body class="main">
    <div id="particles-js"></div>
    <div class="container">
        <div>
            <div class="main-container-wrapper clearfix ">
                <div class="logo">
                    <i class="fa fa-user-plus"></i>
                </div>
                <div class="welcome"><strong>Welcome,</strong> Please Enter Password</div>
                <div class="form-horizontal main-form">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <table>
                                <tr>
                                    <div class="form-group relative password">
                                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "New Password", id = "main_password", style = "background-color: rgba(40, 52, 67, 0.75);border: 1px solid #4a525f;color: #eee;border-left: 4px solid #93a5ab;", type = "password" } })
                                        <i class="fa fa-lock"></i>
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger", style = "color:red;" })
                                    </div>
                                </tr>
                                <tr>
                                    <div class="form-group relative password">
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Confirm New Password", id = "main_password", style = "background-color: rgba(40, 52, 67, 0.75);border: 1px solid #4a525f;color: #eee;border-left: 4px solid #93a5ab;", type = "password" } })
                                        <i class="fa fa-lock"></i>
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", style = "color:red;" })
                                    </div>
                                </tr>
                            </table>
                            <div class="form-group">
                                @Html.HiddenFor(a => a.ResetCode)
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Reset Password" class="btn btn-success btn-lg btn-block" />
                            </div>
                        </div>
                        <div>
                            @Html.ActionLink("Login", "Login")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
    <script src="~/Contant/Account/js/mains.js"></script>
    }
</body>
</html>