@model Mobile_Repair_History_System_MRHS.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Contant/Home/assets/css/demo.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Contant/Home/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Contant/Home/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Contant/Home/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Contant/Home/assets/css/all.min.css">
    <link rel="stylesheet" href="~/Contant/Home/assets/css/mobirise/style.css">
    <link rel="stylesheet" href="~/Contant/Home/assets/css/aos.css">
    <link rel="stylesheet" href="~/Contant/Home/assets/css/main.css">
    <link rel="stylesheet" href="~/Contant/Home/assets/css/responsive.css">
    <link rel="stylesheet" href="~/Contant/Home/assets/css/dark.theme.css" id="optional-theme">
    <link rel="stylesheet" href="~/Contant/Home/assets/css/default.css" id="optional-color">
    <link rel="icon" href="~/Contant/Home/assets/logo2.png" type="image/icon type">
    <link href="~/Contant/Home/assets/css/search.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <title>Store Information</title>
</head>
<body data-spy="scroll" data-target=".scrollspy" data-offset="85">
    <div id="preloader">
        <div class="text-center w-100">
            <div class="loader"></div>
        </div>
    </div>
    <header class="navigation horizontal_header navbar navbar-expand-lg fixed-top">
        <div class="header-ins">
            <div class="container">
                <div class="site-logo">
                    <a href="~/home/index" class="hoveroff" title="MRHS">
                        <img src="~/Contant/Home/assets/logo2.png" style="width:100px;" />
                    </a>
                </div>
                <button class="button-toggler navbar-toggler collapsed" type="button" data-target="#navigation" data-toggle="collapse" aria-controls="navigation" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <ul class="justify-content-end scrollspy collapse navbar-collapse" id="navigation">
                    <li>
                        <a href="~/Home/index" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="~/Home/Contact" class="nav-link">Contact</a>
                    </li>
                    @{
                        if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole("Store"))
                            {
                                <li>
                                    @Html.ActionLink("Create an Invoice", "Create_invoices", "Store")
                                </li>
                                <li>
                                    @Html.ActionLink("Preview Invoices", "Preview_Invoices", "Store")
                                </li>
                                <li>
                                    <a href="~/Home/Store_info" class="nav-link">@Session["username"]</a>
                                </li>
                            }
                            else if (User.IsInRole("Admin"))
                            {
                                <li>
                                    @Html.ActionLink("Dashboard", "Dashboard", "Admin")
                                </li>
                                <li>
                                    <a href="~/Admin/Profile_info" class="nav-link">@Session["username"]</a>
                                </li>
                            }
                            else if (User.IsInRole("Customer") || User.IsInRole("Guest"))
                            {
                                <li>
                                    <a href="~/Home/Profile_info" class="nav-link">@Session["username"]</a>
                                </li>
                            }
                            <li>
                                <a href="~/User/logout" class="nav-link">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="~/User/login" class="nav-link">Sign In</a>
                            </li>
                            <li>
                                <a href="~/User/Registration" class="nav-link">Sign Up</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </header>
    <main class="content center-main">
        <section class="home d-flex" id="home" style="height:150px">
            <div class="background-particle" id="particles-js">
            </div>
        </section>
        <section class="content" style="margin-bottom:-100px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="card card-primary card-outline" style="margin:auto auto;width:590px;">
                        <div class="card-body box-profile">
                            <h2 class="profile-username text-center" style="color:black;text-transform:capitalize;">@Model.UserName</h2>
                            <p class="text-muted text-center">@Model.Role.RoleName</p>
                            <div class="container" style="padding-top:20px;">
                                <div class="row">
                                    <div class="col-6">
                                        <b class="col-3">Email:</b> <a class="col-3">@Model.Email</a>
                                    </div>
                                    <div class="col-6">
                                        <b class="col-3">Phone: </b> <a class="col-3">@Model.Phone</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <b class="col-3">Points:</b> <a class="col-3">@ViewBag.Points</a>
                                    </div>
                                    <div class="col-6">
                                        <b class="col-3">Address:</b> <a class="col-3">@ViewBag.Address</a>
                                    </div>
                                    <div class="col-6">
                                        <b class="col-3">Rate:</b> <a class="col-3">@ViewBag.Rates / 5</a>
                                    </div>
                                </div>
                                <div class="row">
                                    @if (ViewBag.Check == "Customer")
                                    {
                                        if (ViewBag.ratedOrNot == "No")
                                        {
                                            <div class="col-6">
                                                <table class="col-12">
                                                    <tr>
                                                        <td class="col-8">
                                                            <b> You Did Not Rate This Store.</b>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-6">
                                                <table class="col-12">
                                                    <tr>
                                                        @using (Html.BeginForm("MakeRate", "Home", FormMethod.Post))
                                                        {
                                                            <td class="col-6">
                                                                @Html.DropDownList("ValueOfRate", new[] {
                                                                 new SelectListItem() { Text = "1", Value = "1" },new SelectListItem() { Text = "2", Value = "2" },
                                                                 new SelectListItem() { Text = "3", Value = "3" },new SelectListItem() { Text = "4", Value = "4" },
                                                                 new SelectListItem() { Text ="5", Value = "5" } }, "Select One")
                                                            </td>
                                                            <td class="col-6">
                                                                @Html.Hidden("email", Model.Email)
                                                                <input type="submit" value="Make Rate" class="btn-success" style="width:70px;border-radius:25px;font-size:12px;" />
                                                            </td>
                                                        }
                                                    </tr>
                                                </table>
                                            </div>
                                        }
                                        if (ViewBag.ratedOrNot == "Yes")
                                        {
                                            <div class="col-6">
                                                <table class="col-12">
                                                    <tr>
                                                        <td class="col-8">
                                                            <b>Your Rate:</b><a> @ViewBag.RateFrom5 / 5</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-6">
                                                <table class="col-12">
                                                    <tr>
                                                        @using (Html.BeginForm("EditRate", "Home", FormMethod.Post))
                                                        {
                                                            <td class="col-6">
                                                                @Html.DropDownList("ValueOfRate", new[] {
                                                                 new SelectListItem() { Text = "1", Value = "1" },new SelectListItem() { Text = "2", Value = "2" },
                                                                 new SelectListItem() { Text = "3", Value = "3" },new SelectListItem() { Text = "4", Value = "4" },
                                                                 new SelectListItem() { Text ="5", Value = "5" } }, "Select One")
                                                            </td>
                                                            <td class="col-6">
                                                                @Html.Hidden("email", Model.Email)
                                                                <input type="submit" value="Edit Rate" class="btn-success" style="width:70px;border-radius:25px;font-size:12px;" />
                                                            </td>
                                                        }
                                                    </tr>
                                                </table>
                                            </div>
                                        }
                                    }
                                    @if (ViewBag.Check == "Customer")
                                    {
                                        <table style="margin-bottom:0;margin-left:auto;margin-right:auto;margin-top:15px;">
                                            <tr>
                                                @using (Html.BeginForm("Add_Comment", "Home", FormMethod.Post))
                                                {
                                                    <td>
                                                        @Html.TextArea("Message", null, new { style = "width:330px" ,id="comment" })
                                                        @Html.ValidationMessage("Message")
                                                        @Html.Hidden("email", Model.Email)
                                                    </td>
                                                    <td>
                                                        <input type="submit" id ="submitComment" value="Add Comment" class="btn-success" style="margin-left:10px;width:130px;border-radius:50px;" />
                                                    </td>
                                                 }
                                            </tr>
                                        </table>
                                      }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @Html.Action("Preview_Comments", new { reciever = Model.Email })
        <footer class="horizontal-footer shadow-footer">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-12">
                        <div class="text-center">
                            <ul class="social-icons list-inline mt-5">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-git"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-tumblr"></i>
                                    </a>
                                </li>
                            </ul>
                            <p class="copyright-text mt-3 mb-5">2021 ©. Developed and Designed by <b>MRHS</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <a href="#" class="toTop" id="return-to-top">
        <i class="fas fa-chevron-up"></i>
    </a>
    <script src="~/Contant/Home/assets/js/jquery.js"></script>
    <script src="~/Contant/Home/assets/js/popper.min.js"></script>
    <script src="~/Contant/Home/assets/js/bootstrap.min.js"></script>
    <script src="~/Contant/Home/assets/js/jquery.easing.min.js"></script>
    <script src="~/Contant/Home/assets/js/jquery.appear.min.js"></script>
    <script src="~/Contant/Home/assets/js/jquery.countTo.js"></script>
    <script src="~/Contant/Home/assets/js/scrollspy.js"></script>
    <script src="~/Contant/Home/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Contant/Home/assets/js/owl.carousel.min.js"></script>
    <script src="~/Contant/Home/assets/js/aos.js"></script>
    <script src="~/Contant/Home/assets/js/typed.min.js"></script>
    <script src="~/Contant/Home/assets/js/particles.min.js"></script>
    <script src="~/Contant/Home/assets/js/alert.js"></script>
    <script src="~/Contant/Home/assets/js/contact.js"></script>
    <script src="~/Contant/Home/assets/js/custom.js"></script>
    <script src="~/Contant/Home/assets/modernizr.custom.86080.js"></script>
    <script src="~/Contant/Home/assets/particles.js"></script>
    <script src="~/Contant/Home/assets/app.js"></script>
</body>
</html>